* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    background-color: #fff;

}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

.headertext {
    list-style-type: none;
    display: flex;
    gap: 80px;
}

.headertext li {
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}



.btnhead {
    padding: 10px 20px;
    background-color: #FF7A50;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;

}

.span {
    color: #FF7A50;
}

.text {

    font-family: Rubik;
    font-weight: 500;
    font-size: 66px;
}

.foodtext {
    font-family: Rubik;
    font-weight: 400;
    font-size: 20px;
    color: #363853;
}


.btn {
    padding: 10px 20px;
    background-color: #FF7A50;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}